<!DOCTYPE html>
<html lang="en">
<head>
    <!-- set up mobile device --> <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="gridContainer">
        <div class="header"></div>
        <div class="lcontent">
    f_list
    <h1>FOOD LIST</h1>

    {% for f in f_list%}
        <h3>{{ f.name }}</h3>
        <div>{{ f.price }}</div>
        <a href="/food/{{ f._id }}">Detail</a>
    {% endfor %}
        </div>
        <div class="rcontent"></div>
    </div>
</body>
</html>
